.App {
  text-align: center;
  font-family: 'Manrope';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.room-section {
  min-height: 400px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #5a5a5a;
  border: 10px solid #282c34;
  border-radius: 40px;
}

.room-section:hover {
  opacity: 0.5;
}

.room-section.flip {
  animation: room-logo-spin infinite 2s linear;
}

@keyframes room-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.done-button {
  margin-top: 10% !important;
  padding: 20px;
  width: 25%;
  margin: auto;
  border-radius: 40px;
  background-color: #ffffff;
  color: #282c34;
  cursor: pointer;
}